.popup{
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.7);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:2000;
}

.popup-box{
  background:#111;
  padding:25px;
  width:300px;
  border-radius:10px;
  text-align:center;
  position:relative;
  animation:pop .3s ease;
}

@keyframes pop{
  from{transform:scale(.7);opacity:0}
  to{transform:scale(1);opacity:1}
}

.signup-title{color:#1e90ff}

.watch-btn{
  background:#1e90ff;
  padding:10px;
  border-radius:6px;
  margin:15px 0;
}

.watch-btn a{
  color:#fff;
  text-decoration:none;
}

.mini-play{
  display:inline-block;
  width:0;height:0;
  border-top:6px solid transparent;
  border-bottom:6px solid transparent;
  border-left:10px solid white;
  margin-right:6px;
}

.install-btn{
  display:block;
  background:#2e8b57;
  padding:10px;
  border-radius:6px;
  color:#fff;
  text-decoration:none;
}

.close-btn{
  position:absolute;
  top:10px;
  right:15px;
  cursor:pointer;
}
